x-airflow-common:
  &airflow-common
  build:
    context: .
    dockerfile: Airflow.Dockerfile
  env_file:
    - .env
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: CeleryExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CELERY__RESULT_BACKEND: db+postgresql://airflow:airflow@postgres/airflow
    AIRFLOW__CELERY__BROKER_URL: redis://:@redis:6379/0
    AIRFLOW__CORE__FERNET_KEY: ${FERNET_KEY}
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session'
    AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK: 'true'
#    AIRFLOW__WEBSERVER__SECRET_KEY
    _AIRFLOW_DB_MIGRATE: 'true'
    _AIRFLOW_WWW_USER_CREATE: 'true'
    _AIRFLOW_WWW_USER_USERNAME: ${_AIRFLOW_WWW_USER_USERNAME}
    _AIRFLOW_WWW_USER_PASSWORD: ${_AIRFLOW_WWW_USER_PASSWORD}
    PYTHONPATH: /opt/airflow/src
  volumes:
    - ./dags:/opt/airflow/dags
#    - ./plugins:/opt/airflow/plugins
    - ./src:/opt/airflow/src
    - airflow_logs:/opt/airflow/logs
  user: "${AIRFLOW_UID}:${AIRFLOW_GID}"
  depends_on:
    &airflow-common-depends-on
    redis:
      condition: service_healthy
    postgres:
      condition: service_healthy
  networks:
    - project_network

x-clickhouse-common: &clickhouse-common
  user: "${CLICKHOUSE_UID}:${CLICKHOUSE_GID}"
  networks:
    - project_network

x-clickhouse-db: &clickhouse-db
  <<: *clickhouse-common
  image: "clickhouse/clickhouse-server:24.8"
  depends_on:
    - clickhouse-keeper-01
    - clickhouse-keeper-02
    - clickhouse-keeper-03
  environment:
    CLICKHOUSE_USER: ${CLICKHOUSE_USER}
    CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
    CLICKHOUSE_DB: ${CLICKHOUSE_DB}

x-clickhouse-keeper: &clickhouse-keeper
  <<: *clickhouse-common
  image: "clickhouse/clickhouse-keeper:24.8-alpine"

services:
  postgres:
    image: postgres:13
    container_name: airflow-postgres
    environment:
      POSTGRES_USER: ${AIRFLOW_POSTGRES_USER}
      POSTGRES_PASSWORD: ${AIRFLOW_POSTGRES_PASSWORD}
      POSTGRES_DB: ${AIRFLOW_POSTGRES_DB}
    volumes:
      - airflow_postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 10s
      retries: 5
      start_period: 5s
    restart: unless-stopped
    networks:
      - project_network

  redis:
    image: redis:7.2-bookworm
    container_name: airflow-redis
    expose:
      - 6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 30s
      retries: 50
      start_period: 30s
    restart: unless-stopped
    networks:
      - project_network

  airflow-webserver:
    <<: *airflow-common
    container_name: airflow-webserver
    command: webserver
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: unless-stopped
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-scheduler:
    <<: *airflow-common
    container_name: airflow-scheduler
    command: scheduler
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8974/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: unless-stopped
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-worker:
    <<: *airflow-common
    container_name: airflow-worker
    command: celery worker
    healthcheck:
      test:
        - "CMD-SHELL"
        - 'celery --app airflow.providers.celery.executors.celery_executor.app inspect ping -d "celery@$${HOSTNAME}" || celery --app airflow.executors.celery_executor.app inspect ping -d "celery@$${HOSTNAME}"'
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    environment:
      <<: *airflow-common-env
      DUMB_INIT_SETSID: "0"
    restart: unless-stopped
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-triggerer:
    <<: *airflow-common
    container_name: airflow-triggerer
    command: triggerer
    healthcheck:
      test: ["CMD-SHELL", 'airflow jobs check --job-type TriggererJob --hostname "$${HOSTNAME}"']
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: unless-stopped
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-init:
    <<: *airflow-common
    container_name: airflow-init
    entrypoint: /bin/bash
    command:
      - -c
      - |        
        mkdir -p /sources/dags /sources/src
        chown -R "${AIRFLOW_UID}:${AIRFLOW_GID}" /sources/{logs,dags,src}
        
        airflow connections add 'spark_default' \
          --conn-type 'spark' \
          --conn-host 'local' \
          --conn-extra '{"spark-binary": "spark-submit", "deploy-mode": "client"}' \
          || true
        
        exec /entrypoint airflow version
    environment:
      <<: *airflow-common-env
#    user: "0:0"
    volumes:
      - .:/sources

  airflow-cli:
    <<: *airflow-common
    container_name: airflow-cli
    profiles:
      - debug
    environment:
      <<: *airflow-common-env
      CONNECTION_CHECK_MAX_COUNT: "0"
    command:
      - bash
      - -c
      - airflow

  jupyter:
    build:
      context: .
      dockerfile: Jupyter.Dockerfile
    container_name: jupyter
    env_file:
      - .env
    command: >
      jupyter lab
        --ip=0.0.0.0
        --port=8888
        --no-browser
        --ServerApp.token=''
        --ServerApp.password=''
    ports:
      - "8888:8888"
    volumes:
      - ./jupyter:/opt/jupyter/
    restart: unless-stopped
    networks:
      - project_network

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped
    volumes:
      - s3_storage:/data
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/ready" ]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - project_network

  minio-init:
    image: minio/mc
    container_name: minio-init
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      echo 'Waiting for MinIO...' &&
      mc alias set local http://minio:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD} &&
      mc mb --ignore-existing local/${MINIO_BUCKET_NAME} &&
      echo 'Bucket ${MINIO_BUCKET_NAME} is ready' &&
      exit 0
      "
    networks:
      - project_network

  clickhouse-01:
    <<: *clickhouse-db
    container_name: clickhouse-01
    hostname: clickhouse-01
    volumes:
      - ./clickhouse_configs/clickhouse_01_config.xml:/etc/clickhouse-server/config.d/config.xml
      - clickhouse_01_data:/var/lib/clickhouse
    ports:
      - "127.0.0.1:8123:8123"
      - "127.0.0.1:9100:9000"

  clickhouse-02:
    <<: *clickhouse-db
    container_name: clickhouse-02
    hostname: clickhouse-02
    volumes:
      - ./clickhouse_configs/clickhouse_02_config.xml:/etc/clickhouse-server/config.d/config.xml
      - clickhouse_02_data:/var/lib/clickhouse
    ports:
      - "127.0.0.1:8124:8123"
      - "127.0.0.1:9101:9000"

  clickhouse-03:
    <<: *clickhouse-db
    container_name: clickhouse-03
    hostname: clickhouse-03
    volumes:
      - ./clickhouse_configs/clickhouse_03_config.xml:/etc/clickhouse-server/config.d/config.xml
      - clickhouse_03_data:/var/lib/clickhouse
    ports:
      - "127.0.0.1:8125:8123"
      - "127.0.0.1:9102:9000"

  clickhouse-04:
    <<: *clickhouse-db
    container_name: clickhouse-04
    hostname: clickhouse-04
    volumes:
      - ./clickhouse_configs/clickhouse_04_config.xml:/etc/clickhouse-server/config.d/config.xml
      - clickhouse_04_data:/var/lib/clickhouse
    ports:
        - "127.0.0.1:8126:8123"
        - "127.0.0.1:9103:9000"

  clickhouse-keeper-01:
    <<: *clickhouse-keeper
    container_name: clickhouse-keeper-01
    hostname: clickhouse-keeper-01
    volumes:
     - ./clickhouse_configs/clickhouse_keeper_01_config.xml:/etc/clickhouse-keeper/keeper_config.xml
     - clickhouse_keeper_01_data:/var/lib/clickhouse-keeper
    ports:
        - "127.0.0.1:9181:9181"

  clickhouse-keeper-02:
    <<: *clickhouse-keeper
    container_name: clickhouse-keeper-02
    hostname: clickhouse-keeper-02
    volumes:
     - ./clickhouse_configs/clickhouse_keeper_02_config.xml:/etc/clickhouse-keeper/keeper_config.xml
     - clickhouse_keeper_02_data:/var/lib/clickhouse-keeper
    ports:
        - "127.0.0.1:9182:9181"

  clickhouse-keeper-03:
    <<: *clickhouse-keeper
    container_name: clickhouse-keeper-03
    hostname: clickhouse-keeper-03
    volumes:
     - ./clickhouse_configs/clickhouse_keeper_03_config.xml:/etc/clickhouse-keeper/keeper_config.xml
     - clickhouse_keeper_03_data:/var/lib/clickhouse-keeper
    ports:
        - "127.0.0.1:9183:9181"

volumes:
  airflow_postgres:
  airflow_logs:
  s3_storage:
  clickhouse_01_data:
  clickhouse_02_data:
  clickhouse_03_data:
  clickhouse_04_data:
  clickhouse_keeper_01_data:
  clickhouse_keeper_02_data:
  clickhouse_keeper_03_data:

networks:
  project_network:
    driver: bridge
